*{
    margin: 0;
    padding: 0;
}
html{
    /* 文字不能随意放大缩小 */
    /* 在移动端 基本都是webkit 针对不同的内核 */
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body,html{
    height: 100%;
    /* 手机不同厂商会做自己的一些调整，这是有损统一体验的，
    css希望所有手机都一样，一张白纸，将厂商的欲望抹平 Css reset 
     -webkit-tap-highlight-color为不规范的属性 按上去的高亮就透明，干掉了这种特征*/
    /* 清除默认高亮效果 */
    /* 手机端的属性 */
    -webkit-tap-highlight-color: transparent;
    /* 不允许弹出复制选中文本 */
    -webkit-user-select: none;
    user-select: none;
    /* 禁掉下面出来的actionsheet */
    -webkit-touch-callout: none;
    background: #000;
}
body{
    line-height: 1.6;
    font-family: -apple-syste, 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
    /* 和transparent一样的效果 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.page,body{
    background: #ffffff;
}
/* 页面框架容器 */
.container{
    overflow: hidden;
}
/* 移动端经常会有的单页 */
.container,.page{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.page{
    /* 在垂直方向上超出一屏则自适应 */
    overflow-y: auto;
    /* 将滚动改成touch，体验更好 */
    /* -webkit-overflow-scrolling: touch; */
}
.weui-msg__icon{
    text-align: center;
    margin-top: 70px;
}
.weui-msg__icon p{
    color:green;
    margin-top: 10px;
    font-size: 18px;
}
.weui-msg__text{
    margin: 65px auto;
    text-align: center;
}
.weui-msg__text .weui-msg__title{
    color: #666;
    margin-top: 20px;
}
.weui-msg__text span{
    font-size: 20px;
     display:inline-block;
     margin-top: 5px;
     margin-bottom: 15px;
}
h1.weui-msg__desc{
    margin-top: -10px;
    display: inline-block;
}
.weui-btn{
    margin: 14px auto;
    text-align: center;
    position: relative;
    margin-bottom: 50px
}
.weui-btn_primary{
    border: 1px solid #1aad19;
    color:#1aad19;
    background-color: rgba(0,0,0,0);
    text-align: center;
    height: 30px;
    line-height: 30px;
    width: 150px;
    border-radius: 5px;
    margin-top: 120px;
}